<ng-container *tuiLet="placeMarksService.pins$ | async as pins">
  <table  tuiTable>
    <thead>
      <tr tuiThGroup>
        <th tuiTh>Координаты</th>
        <th tuiTh>Заголовок</th>
        <th tuiTh>Описание</th>
        <th tuiTh></th>
      </tr>
    </thead>
    <tbody tuiTbody>
      <tr *ngFor="let pin of pins">
        <td tuiTd>{{pin.geometry | json}}</td>
        <td tuiTd>{{pin.header}}</td>
        <td tuiTd>{{pin.body}}</td>
        <td tuiTd>
          <button
            tuiIconButton
            type="button"
            appearance="flat"
            icon="tuiIconTrash"
            (click)="removePin(pin.id)"
          ></button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
