<form [formGroup]="pinForm">
  <tui-input-number formControlName="long" [precision]="6">Широта</tui-input-number>
  <tui-input-number formControlName="attitude" [precision]="6">Долгота</tui-input-number>
  <tui-input formControlName="header">
    Заголовок
    <input tuiTextfield />
  </tui-input>
  <tui-input formControlName="body">
    Описание
    <input tuiTextfield />
  </tui-input>
  <tui-input formControlName="hint">
    Подсказка
    <input tuiTextfield />
  </tui-input>

  <button  tuiButton (click)="OnAddPin()">Добавить</button>

</form>
